.grid-container {
  display: grid;
  justify-content: center;
  grid: 490px / auto auto auto;
  grid-gap: 10px;
  grid-column-gap: 25px;
  padding: 10px;
  margin-bottom: 0px;
  grid-auto-rows: max-content;
}
.grid-container-element {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0px 0;
  font-size: 30px;
}

.footer-header {
    text-align: center;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: white;
}

.text-style {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #fff;
}

.text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}